<!DOCTYPE html>
    <html>
        <head>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
            <script type="application/javascript" src="https://rawgit.com/abdmob/x2js/master/xml2json.min.js" charset="UTF-8"></script>
            <meta charset="utf-8">
            <title>Parse XML</title> 
        </head>
        <body data-ng-app="parseXmlApp">
        <h2>Parsing XML Data(Task 1)</h2>
        <div data-ng-controller="myController"><ol><li ng-repeat="todo in todos">{{todo.badges}}</div>
		
		<div class="text-center">
		
		<!-- items being paged -->
		<div ng-repeat="item in vm.todos">Item {{item}}</div>
		
		<!-- pager -->
		<ul ng-if="vm.pager.pages.length" class="pagination">
			<li ng-class="{disabled:vm.pager.currentPage === 1}">
				<a ng-click="vm.setPage(1)">First</a>
			</li>
			<li ng-class="{disabled:vm.pager.currentPage === 1}">
				<a ng-click="vm.setPage(vm.pager.currentPage - 1)">Previous</a>
			</li>
			<li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
				<a ng-click="vm.setPage(page)">{{page}}</a>
			</li>                
			<li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
				<a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
			</li>
			<li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
				<a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
			</li>
		</ul>
	</div>
		
	<!-- JavaScript -->
        <script>
        var myApp = angular.module('parseXmlApp',[]);
        
        myApp.factory('myFactory',function($http){
          var factory = [];
          
          factory.getTodos = function(){
            return $http.get("file:///C:/Users/admin/Desktop/Xobin/dumplist/Badges.xml"				   
			);
          }
         /*   console.log("hi"); */
            return factory;
		/*	console.log("XML" +factory); */
        });
        
		/* Conversion of XML to JSON */
        myApp.controller('myController',function($scope,myFactory){
          
          $scope.todos = [];
          loadTodos();
         /* console.log("hi2"); */
		  
          function loadTodos(){
            var x2js = new X2JS();
            myFactory.getTodos().success(function(data){
                xmlJson  = x2js.xml_str2json(data);
			/*	console.log("JSON" + xmlJson); */
                $scope.todos =xmlJson;
            });
            }
			
		/* service definition */
			function PagerService() {
	
			var service = {};

			service.GetPager = GetPager;

			return service;

			/* service implementation */
			function GetPager(totalItems, currentPage, pageSize) {
				/* default to first page */
				currentPage = currentPage || 1;

				/* default page size is 10 */
				pageSize = pageSize || 10;

				/* calculate total pages */
				var totalPages = Math.ceil(totalItems / pageSize);

				var startPage, endPage;
				if (totalPages <= 10) {
					/* less than 10 total pages so show all */
					startPage = 1;
					endPage = totalPages;
				} else {
					/* more than 10 total pages so calculate start and end pages */
					if (currentPage <= 6) {
						startPage = 1;
						endPage = 10;
					} else if (currentPage + 4 >= totalPages) {
						startPage = totalPages - 9;
						endPage = totalPages;
					} else {
						startPage = currentPage - 5;
						endPage = currentPage + 4;
					}
				}

				/* calculate start and end item indexes */
				var startIndex = (currentPage - 1) * pageSize;
				var endIndex = Math.min(startIndex + pageSize - 1, totalItems - 1);

				/* create an array of pages to ng-repeat in the pager control */
				var pages = _.range(startPage, endPage + 1);

				/* return object with all pager properties required by the view */
				return {
					totalItems: totalItems,
					currentPage: currentPage,
					pageSize: pageSize,
					totalPages: totalPages,
					startPage: startPage,
					endPage: endPage,
					startIndex: startIndex,
					endIndex: endIndex,
					pages: pages
				};
	}
}
			
			var vm = this;
			vm.dummyItems = "";
			vm.pager = {};
			vm.setPage = setPage;

			initController();

			function initController() {
				/* initialize to page 1 */
				vm.setPage(1);
			}

			function setPage(page) {
				if (page < 1 || page > vm.pager.totalPages) {
					return;
				}

				/* get pager object from service */
				vm.pager = PagerService.GetPager(vm.dummyItems.length, page);

				/* get current page of items */
				vm.items = vm.dummyItems.slice(vm.pager.startIndex, vm.pager.endIndex + 1);
			}		
			
			
        });
			
		
		</script> 
	</body>
	</html>